.navbar-light .navbar-nav .nav-link.active {
  font-weight: bolder;
}

p {
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 29px;
  font-weight: 400;
  color: #776f60;
}
.nav-link {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
  color: #3e3930;
  font-size: 60px;
  line-height: 1.116em;
  margin: 25px 0;
  margin-bottom: 25px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: italic;
  color: #3e3930;
  font-size: 50px;
  line-height: 1.1em;
  margin: 25px 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

div.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  margin-right: 16px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.3em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

footer a {
  color: #9e9a94;
  text-decoration: none;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

footer a:hover {
  text-decoration: none;
  color: #3e3930;
}
